# Day-by-day sales Forecasting
## Managerial Decision Making and Modelling

Project Work by Marco Bruttocao, 858067@stud.unive.it
Ca' Foscari University, Venice

> File POSdata.csv reports the data on products A, B, C, D sales in 46 different
24/365 point of sales (POS) between October 2036 and November 2037.

<br>

Each record has the following seven fields:

 - DateTime: purchase time (YYYY-MM-DD-hh.mm.ss, e.g., 2038-12-01-02.31.05 means
   that someone purchased some products on December 2038, 1st at 2:31:05)

 - PointOfSale: point of sale unique identifier

 - Error: error-detecting code. If it is equal to 1,
   incorrect data has been recorded, and the record should be disregarded

 - ProductA: number of products A sold

 - ProductB: number of products B sold

 - ProductC: number of products C sold

 - ProductD: number of products D sold

<br>

Products A, B, C, D are perishable the products unsold at midnight must be
disposed.

Each POS must reorder the products each day at 18:00, and they become available
at the POS a 00:00:01 of the next day. As an example, if a POS orders 20
products A on August 2036, 20th, it will receive the 20 products on August 2036,
21st at 00.00.01.

Each POS sells products A, B, C, D for 50.00, 20.00, 100.00, 10.00 euro per unit
respectively and purchase them from its supplier for 37.00, 15.00, 70.00, 8.00
euro respectively.

The supplier pays 30.00, 10.00, 50.00, 7.00 euro to make a unit of product
A, B, C, D respectively.

In [6]:
# Libraries and settings

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
pos = pd.read_csv("./Data/PosData.csv", sep = ";")
pos.DateTime = pd.to_datetime(pos.DateTime, format='%Y-%m-%d-%H.%M.%S')
clean_pos = pos[pos.Error != 1].drop("Unnamed: 7", axis=1)

print("Deleted rows: ", len(pos)-len(clean_pos))
clean_pos

Deleted rows:  2776

,DateTime,PointOfSale,Error,ProductA,ProductB,ProductC,ProductD
0,2036-10-02 00:35:00,101,0,3,5,0,0
1,2036-10-02 08:06:00,101,0,2,5,0,0
2,2036-10-02 08:40:00,101,0,3,5,0,0
3,2036-10-02 08:47:00,101,0,3,5,0,0
4,2036-10-02 08:53:00,101,0,3,5,0,0
...,...,...,...,...,...,...,...
647318,2037-11-28 19:06:00,9203,0,1,0,0,0
647319,2037-11-28 20:40:00,9203,0,1,0,0,0
647320,2037-11-29 00:32:00,9203,0,0,5,0,0
647321,2037-11-29 10:06:00,9203,0,1,0,0,0
647322,2037-11-29 17:23:00,9203,0,2,5,0,0

In [8]:
pd.unique(clean_pos.PointOfSale)

array([ 101,  105,  107, 1501, 1801, 2031, 2301, 2501, 2505, 3501, 4601,
       5011, 5020, 5040, 5041, 5060, 5080, 5110, 5120, 5140, 5150, 5160,
       5180, 5190, 5241, 5300, 5320, 5350, 5360, 5390, 5400, 5410, 5420,
       5430, 5440, 5501, 5801, 6001, 6201, 6502, 6601, 7001, 7201, 8540,
       8550, 9203], dtype=int64)